#u5142.PamphletThumbSelected #u5143-5 p,#u5070.PamphletThumbSelected #u5071-4 p,#u5072.PamphletThumbSelected #u5073-4 p,#u5068.PamphletThumbSelected #u5069-4 p,#u5142.PamphletThumbSelected #u5145-4 p,#u5025-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5022-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5011-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5033-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5006-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5042-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5069-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5071-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5073-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u4999-4,#u4991-3
{
	font-family: jockey-one-n4, sans-serif;
}

#u5051-4,#u5052-4,#u5039-4,#u4991,#u4991-5,#u5000-4,#u5154-5,#u5134-4,#u5143-5
{
	font-family: vera-sans-n7, sans-serif;
}

#u5145-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u4965-4,#u4966-4,#u4967-4,#u4963-4,#u4968-4,#u4961-4,#u5075-4,#u5089-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5098-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5085-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5093-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5115-4,#u5118-4,#u5111-4,#u5110-4
{
	font-family: vera-sans-n7, sans-serif;
}

#u5168-2
{
	font-family: raleway-n3, sans-serif;
}

#u5168-3
{
	font-family: raleway-n7, sans-serif;
}

